<header class="main-header no-cover">
    <nav class="main-nav overlay clearfix">
        <a class="subscribe-button" href="http://danielwylie.me/rss/">Subscribe</a>
        <a class="subscribe-button" href="/about">About/CV</a>
        <a class="subscribe-button" href="/contact">Contact</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">Daniel Wylie</h1>
            <h2 class="page-description">Founder of Shnappy, software developer, business guy, photographer dude.</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
