@import "components/reset";

@import "elements/buttons";
@import "elements/links";

@import "components/header";
@import "components/content";
@import "components/techstack";
@import "components/list";
@import "components/boxes";

body {
  font-family: "Merriweather", serif;
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -2px;
  text-indent: -3px;
}

h4, h5 {
  letter-spacing: 0;
}

.printonly {
  display: none;
}

@media print {
  .hideprint {
    display: none;
  }

  .printonly {
    display: block;
  }

  header {
    background: none;
    min-height: 0;
    padding: 0;
    color: black;
    position: relative;

    h3 {
      font-size: 1rem;
      letter-spacing: 1px;
    }
  }

  .page {
    position: relative;
    top: 100px;
  }

  section.section--withtitle div.section-title {
    padding: 5px;
    background: none;
    text-align: left;
    color: #333;
    margin-bottom: 0;

    h3 {
      font-size: 1.8rem;
    }

  }

  .techstack--title {
    display: block;
    margin-bottom: 10px;
  }

  .job {
    padding: 0;
    background: none;

    .content {
      border-bottom: 1px solid #efefef;
      padding-bottom: 20px;
      margin-bottom: 10px;
    }
  }

  .techstack {
    margin-bottom: 10px;
    list-style: circle !important;

    li {
      width: 100%;
      height: auto;
      background: none !important;
      text-indent: 0;
      display: block;
      padding-left: 20px;
      list-style: circle;
    }
  }
}