@import "../common/colors";
@import "../common/config";

input[type="button"], input[type="submit"], a.btn, button {
  background: $input-background-colour;
  border: 0;
  color: white;
  padding: $input-padding;
  font-size: $input-font-size;
  border-radius: $input-border-radius;
  transition: all 0.2s;
  text-align: center;
  display: inline-block;
  min-width: 120px;
  text-decoration: none;

  &.btn--hollow {
    background: transparent;
    border: $input-border-thickness solid $white-pink;
  }

  &.btn--invert {
    background: $white-pink;
    color: $base-colour;
    border: $input-border-thickness solid white;
  }

  &.btn--block {
    display: block;
    width: 100%;
  }

  &:hover {
    background: $input-background-colour + 20;
    color: white;
    text-decoration: none;
  }

  &.btn--smaller {
    padding: $input-padding - 10;
    text-transform: none;
    font-size: $text-font-size;
  }

  &.btn--success {
    background: $success-green;

    &:hover {
      background: $success-green + 20;
    }
  }

  &.btn--danger {
    background: $failure-red;

    &:hover {
      background: $failure-red + 20;
    }
  }

  &.btn--toolbar {
    padding-top: 2px;
    padding-left: 4px;
    min-width: 0;
  }

  &:disabled {
    background: $grey-border;

    &:hover {
      background: $grey-border;
    }
  }
}